<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=DM+Sans&family=Instrument+Serif&family=Josefin+Sans:ital,wght@0,400;1,500&family=Montserrat+Alternates&family=Montserrat:wght@400;500&family=PT+Serif:ital@1&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet"  type="text/css" href=" {{url_for ('static',filename = 'css/titanic.css')}}">
    <title>Titanic Prediction servival </title>
</head>
<body>
    <!-- start nav bar -->
        <nav class="navbar navbar-expand-lg bg-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="#">titanic</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">about</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">blogs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">newspaper</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">inputs</a>
                  </li>
              </div>
            </div>
          </nav>
    <!-- end nav bar -->
<!-- start header -->
    <header class="back-ground d-flex justify-content-center align-items-center text-white">
        <div>
            <h3 class="text-center a">THE</h3>
            <h1 class="space">titanic</h1>
        </div>
    </header>
    <!-- end header -->

    <section>
        <div class="container mt-5">
            <h2 class="text-center mb-5">the history of titanic</h2>
            <div class="row gx-5">
                <div class="col-md-5">
                    <img src="static\images\pexels-trace-hudson-2618797.jpg"class="w-100">
                </div>
                <div class="col-md-5 space1">
                    Titanic, in full Royal Mail Ship (RMS) Titanic, British luxury passenger liner that sank on April 14–15, 1912, during its maiden voyage, en route to New York City from Southampton, England, killing about 1,500 (see Researcher’s Note: Titanic) passengers and ship personnel. One of the most famous tragedies in modern history, it inspired numerous stories, several films, and a musical and has been the subject of much scholarship and scientific speculation.

                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <h2>why did the titanic sink?</h2>
                    <div class="item text-center">
                        <img src="static\images\ship-3401500.jpg" class="w-100">
                        <div>
                            <p>The immediate cause of RMS Titanic’s demise was a collision with an iceberg that caused the ocean liner to sink on April 14–15, 1912. While the ship could reportedly stay afloat if as many as 4 of its 16 compartments were breached, the impact had affected at least 5 compartments. It was originally believed that the iceberg had caused a long gash in the hull. After examining the wreck, however, scientists discovered that the collision had produced a series of thin gashes as well as brittle fracturing and separation of seams in the adjacent hull plates, thus allowing water to flood into the Titanic. Later examination of retrieved ship parts—as well as paperwork in the builder’s archives—led to speculation that low-quality steel or weak rivets may have contributed to the sinking.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>How many people died? </h2>
                    <div class="item text-center">
                        <img src="static\images\pexels-pixabay-37859.jpg" class="w-100">
                        <p>The exact number of people killed is unknown. Original passenger and crew lists were rendered inaccurate by such factors as misspellings, omissions, aliases, and failure to count musicians and other contracted employees as either passengers or crew members. However, it is generally believed that of the ship’s approximately 2,200 passengers and crew members, some 1,500 people perished when the ship sank. According to the U.S. committee investigating the sinking, 1,517 lives were lost, and its British counterpart determined that 1,503 died. The crew suffered the most casualties, with about 700 fatalities. Third class also suffered greatly, as only 174 of its approximately 710 passengers survived.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="item text-center">
                        <h2>Where is the wreck of the Titanic?</h2>
                        <img src="static\images\wallpaperflare.com_wallpaper (1).jpg" class="w-100">
                        <p>The wreck of the Titanic—which was discovered on September 1, 1985—is located at the bottom of the Atlantic Ocean, some 13,000 feet (4,000 metres) underwater. It is approximately 400 nautical miles (740 km) from Newfoundland, Canada. The ship is in two main pieces, the bow and the stern. The exact location of the ship’s bow—which is the largest and most intact portion—is 41°43′57′′ N 49°56′49′′ W</p>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section>
        <div class="container mt-5">
            <h2 class="text-center mb-3">The Newspapers</h2>
            <div class="row g-4">
                <div class="col-md-4">
                    <img src="static\images\WhatsApp Image 2023-05-04 at 3.35.47 AM (1).jpeg" class="w-100">
                </div>
                <div class="col-md-4">
                    <img src="static\images\WhatsApp Image 2023-05-04 at 3.35.47 AM (2).jpeg" class="w-100">
                </div>
                <div class="col-md-4">
                    <img src="static\images\WhatsApp Image 2023-05-04 at 3.35.47 AM (3).jpeg" class="w-100">
                </div>
                <div class="col-md-4">
                    <img src="static\images\WhatsApp Image 2023-05-04 at 3.35.47 AM.jpeg" class="w-100">
                </div>
                <div class="col-md-4">
                    <img src="static\images\WhatsApp Image 2023-05-04 at 3.35.48 AM.jpeg" class="w-100">
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="w-75 mx-auto mt-5">
            <form action="{{ url_for('predict')}}"method="post">
            <h2 class="text-center mt-4">Enter The passenger Data Herr....</h2>
            <label class="my-4">Ticket class	(1 = 1st, 2 = 2nd, 3 = 3rd)</label>
            <input type="number" name="Pclass" placeholder="Number of Ticket class"  class="form-control" required="required" />
            <label class="my-4">Sex   (0 =Male  1=Female) </label>
            <input type="number" name="Sex" placeholder="Sex" class="form-control" required="required" />
            <label class="my-4">Age in years</label>
            <input type="number" name="Age" placeholder="Passenger Age" class="form-control" required="required" />
            <label class="my-4">spouses aboard the Titanic</label>
            <input type="number" name="SibSp" placeholder="Number of spouses travelled"  class="form-control" required="required" />
            <label class="my-4">children aboard the Titanic</label>
            <input type="number" name="Parch" placeholder="Number of children travelled "  class="form-control" required="required" />
            <label class="my-4">Port of Embarkation	(0 = Cherbourg, 1 = Queenstown,  2 = Southampton)</label>
            <input type="number" name="Embarked" placeholder="Port of Embarkation"  class="form-control" required="required" />
            <br>
            <br>
          <center>  <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button> </center>
           
            </form>
        </div>
        <br>
        <br>
        <section>
         <div class="w-75 mx-auto mt-5">
            {{ prediction_text }}
            
         </div>
         <br>
         <br>
         <br>
         <br>
        </section>
    </section>

</body>
</html>